<section class="cartWrapper">
  <h3>Shopping Cart</h3>
  <div class="cartWrapper__shopWrapper">
    <div class="cartWrapper__listSection">
      <h2>Your shopping cart</h2>
        <div class="cartWrapper__listBox">
          <div *ngFor="let product of usedProducts" class="cartWrapper__listEntry">
            <span class="cartWrapper__productName">
              {{product.title}}
            </span>
            <span class="cartWrapper__productPrice">
              {{product.price}}€
            </span>
            <span class="cartWrapper__removeItemButton" (click)="removeFromCart(product.id)">x</span>
          </div>
        </div>
      <p>Overall value: {{SUM}} €</p>
    </div>
    <div class="cartWrapper__formSection">
      <app-formular class="cartWrapper__buyFormular"></app-formular>
    </div>
  </div>
</section>
