.productContainer {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 25px;
  padding: 0 50px;
    &__product {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 150px;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(100, 100, 100, 0.5);
      &:hover{
        box-shadow: 0 0 20px rgba(100, 100, 100, 1);
      }
    }
    &__image {
      width: 100%;
    }
}

.navigation__navbar{
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  width: 80%;
  padding: 0 50px;
  span{
    display: block;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 50px;
    &:hover{
      background-color: darkslategray;
      color: white;
    }
  }
}
