<div class="navigation__navbar">
  <span (click)="resetProducts()">All</span>
  <span (click)="filterProducts('men\'s clothing' && 'women\'s clothing')">Clothings</span>
  <span (click)="filterProducts('jewelery')">Jewelery</span>
  <span (click)="filterProducts('electronics')">Tech</span>
</div>
<section class="productContainer">
    <a  *ngFor="let product of products">
      <div class="productContainer__product">
        <img class="productContainer__image" src="{{product.image}}" alt="" routerLink="/product/{{product.id}}">
      </div>
      <!-- Nur zum schnellen test -->
      <button (click)="addToCart(product)">Add</button>
      <!-- Nur zum schnellen test -->
    </a>
</section>
