<form action="" class="shoppingForm" (submit)="handleSubmit($event)">
  <h2>Please add your data</h2>
  <div class="shoppingForm__inputs">
    <input type="text" placeholder="Vorname" name="firstname">
    <input type="text" placeholder="Nachname" name="lastname">
    <input type="text" placeholder="Adresse" name="adress">
    <input type="text" placeholder="PLZ" name="zipcode">
    <input type="text" placeholder="Ort" name="location">
  </div>
  <div class="shoppingForm__paymentMethods">
    <h3>Payment:</h3>
    <label for="payment-paypal">
      <input type="radio" id="payment-paypal" name="payment" aria-selected="true">
      Paypal</label
    >
    <label for="payment-klarna">
      <input type="radio" id="payment-klarna" name="payment">
      Klarna</label>

    <label for="payment-bank">
      <input type="radio" id="payment-bank" name="payment">
      Lastschrift</label>
  </div>
  <input type="submit" value="Kaufen" class="shoppingForm__submitbutton">
</form>
