.shoppingForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  border: none!important;
  &__inputs {
    padding: 5px 10px;
    border: none;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__paymentMethods {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none!important;
  }

  &__submitbutton {
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 5px;
    &:hover {
      background-color: cadetblue;
    }
  }
}

.ng-valid{
  border-left: 5px solid green;
}
.ng-invalid{
  border-left: 5px solid crimson;
}

