.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  font-family: "American Typewriter";
  background-color: aquamarine;
  height: 10vh;
  padding: 0 100px;
  margin-bottom: 2rem;
  h1,p{
    margin: 0;
  }

}
