<nav class="navigation">
  <div class="navigation__headline">
    <h1>The big FakeStore</h1>
    <p>Everything you need</p>
  </div>
  <div class="navigation__buttonWrapper">
    <button class="navigation__button" routerLink="/">PRODUCTS</button>
    <button class="navigation__button" routerLink="/shopping-cart">CART</button>
    <div class="navigation__shoppingCartBox" id="amountBox" [class.addedAmount]="">
      <span class="navigation__shoppingCartAmount" >{{shopItems$ | async}}</span>
    </div>
  </div>
</nav>
